.h1{
  color: #07699e;
}

.sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.btn-start{
  background-color: skyblue;
  color:whitesmoke;
}

.container_sprint_card {
  display: flex;
  flex-direction: column;
}

.sprint_card{
  background-color: rgb(174, 74, 132, 0.5);
  padding: 30px;
  border-radius: 20px;
  margin: auto;
}

.sprint_words {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding: 20px;
}

.sprint_word {
  font-weight: 600;
  font-size: 3rem;
}

.wrapper__close_btn {
  display: flex;
  justify-content: flex-end;
}

.circle {
  border-radius: 50%;
  color: antiquewhite;
}

.sprint_btn-container {
  margin-top: 10px;
}
