.wrapper__team_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiCard-root{
  margin: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2bba1627b549f65827ae02c6fdde71cd5ffeb2cc
