/* .wrapper__team_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
.wrapper__team_page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.h1 {
  color: #07699e;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.MuiCard-root{
  margin: 10px;
}

.css-h93ljk-MuiTypography-root {
  display: flex;
  align-items: center;
}

.git_logo_teams {
  width: 15px;
}

@media screen and (max-width: 991px) {
  .wrapper__team_page {
    grid-template-columns: repeat(2, 170px);
  }
}

@media screen and (max-width: 479px) {
    .wrapper__team_page {
      grid-template-columns: 170px;
    }
  
  }
