.git_logo {
  height: 20px;
  padding-right: 5px;
}

.git_link {
  display: flex;
  align-items: center;
  color:aliceblue
}

.footer_link {
  color: aliceblue;
}

.footer_link:hover {
  font-weight: 800;
}

.wrapper__footer {
  display: flex;
  align-items: center;
}

.block_link {
  display: flex;
  align-items: center;
  padding: 5px;
}