.App {
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  color: #282c34;
  background-image: url('/public/rs_lang_background_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.wrapper__mane_page{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 7em 7em 5em 7em;
  justify-items: center;
}

.wrapper_animation{
  position: relative;
}

.App-logo_static {
  position: absolute;
  top:calc(33% - 25px);
  right: calc(10% - 100px);
  z-index: 5;
}

.App-logo {
  top:calc(25% - 35px);
  right: calc(10% - 95px);
  position: absolute;
  pointer-events: none;
}

.yellow{
  z-index: 4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 27s linear;
  }
  .left {
    animation: App-logo-spin infinite 17s linear ;
    animation-direction: reverse;
  }

  .slow {
    animation: App-logo-spin infinite 11s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper_slider {
  display: flex;
}

<<<<<<< HEAD
.wrapper__team {
  width: 25%;
=======
.carousel .control-dots .dot{
  background: #07699e;
}

.wrapper__slader_container {
>>>>>>> 8af10b5 (fix: main page, footer)
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 50px;
}

.h1{
  color: #07699e;
}

.text__about {
  padding: 10px 20px 20px 20px;
}

@media screen and (max-width: 1400px) and (min-width: 1020px){
  .wrapper__mane_page{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 1020px) and (min-width: 812px){
  .wrapper__mane_page{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 12em;
  }

  .App-logo_static {
    position: absolute;
    top: 80px;
    right: calc(10% - 100px);
  }
  
  .App-logo {
    top:calc(25% - 35px);
    right: calc(10% - 95px);
    position: absolute;
    pointer-events: none;
  }

  .wrapper__slader_container {
    padding: calc(10% - 15px);
  }
}

@media screen and (max-width: 812px) and (min-width: 420px){
  .wrapper__mane_page{
    grid-row-gap: 15em;
  }

  .App-logo_static {
    position: absolute;
    top:25px;
    right: calc(10% - 100px);
  }
  
  .App-logo {
    top:calc(25% - 35px);
    right: calc(10% - 95px);
    position: absolute;
    pointer-events: none;
  }

  .wrapper__slader_container {
    padding: calc(15% - 60px);
  }
}

.btns{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 10px 40px;
  margin-top: 5px;
  border:  1px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.btn_color1{
  background-color: rgb(210, 165, 195);;
}

.btn_color2{
  background-color: rgb(210, 165, 195);;
}

.btn_color3{
  background-color: rgb(210, 165, 195);;
}

/* .wrapper_btns{

} */
