body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #07699e;
  font-weight: 600;
}

.games{
  background-color: #8dc6ff;
}

.statistic {
  display: flex;
  justify-content: center;
  background-color: #8fdd9c;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #1976d2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wrapper__footer{
  display: flex;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
